*{
    margin:0px;
    padding:0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    margin-top:56px;
    flex:1;
}

.shift{
    position:relative;
    top:-56px;
}

main > div.background {
    height: 200px;
    background-image: url('../img/headerCat.jpg');
    background-position: center;
    background-size: cover;
}

.footer {
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

img.icon{
    width:64px;
    height:64px;
}

